<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- League of legends -->
    <add key="LoL:EntryPointURL" value="https://ddragon.leagueoflegends.com/realms/na.json"/>
    <add key="LoL:DefaultInstallLocation" value="Riot Games/League of Legends"/>
    <!-- XPath Selectors -->
    <add key="Selectors:CloudFile" value="https://raw.githubusercontent.com/Leyka/WhatBuild/master/WhatBuild.Core/Data/selectors.json" />
  </appSettings>
</configuration>