<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- League of legends config -->
    <add key="LoL:EntryPointURL" value="https://ddragon.leagueoflegends.com/realms/na.json"/>
    <add key="LoL:DefaultInstallLocation" value="Riot Games\League of Legends"/>
  </appSettings>
</configuration>